body{
  text-align: center;
}
.productContainer{
  display: flex;
  flex-wrap: wrap;
}
.productContainer > .link{
  max-width: 500px;
  box-shadow: 0 0 10px grey;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.productContainer > .link:hover{
  background-color: grey;
}
.nav-link{
  padding: 10px
}
.App > nav{
  margin-bottom: 30px;
}